<h2 class="text-center border p-3 mb-4">All list of events created by this user</h2>
<div class="row">
  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-header">
        <h3 class="card-title">Your events</h3>
      </div>
      <div class="card-body">
        <%#! @events from UserController show method  %>
        <%#! Also from EventsController create method to render same page once event is created  %>
        <% if @events.any? %>
          <ul class="list-group">
            <% @events.each do |event| %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span><%=event.name %></span>
                <%#!  user_event GET    /users/:user_id/events/:id(.:format) for show therefore need to provide creator & event for this link  %>
                <% if event.persisted? %>
                  <span class="badge badge-primary badge-pill">
                    <%= link_to "Detail", user_event_path(event.creator, event), class: "text-light" %>
                  </span>
                <% end %>
                <span class="badge badge-primary badge-pill"><%= event.date %></span>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="text-muted">No events found.</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-header">
        <h3 class="card-title">Create new events</h3>
      </div>
      <div class="card-body">
        <%#! form partial is rendered here  %>
        <%= render partial: "events/form", locals: {  user: current_user ,event: @event} %>
        <%#todo { event: Event.new, user: current_user } at first i did this but the errors message was not showing in form becuase everytime i submit form it created new instace of Event therefore it did not show error. Therefore in order to show error i have to put the same instance @event which i passed from UsersController show method%>
      </div>
    </div>
  </div>
</div>
<%#! @past_events and @upcoming events passed from UserController/show method  %>
<div class="row">
  <div class="col-md-6 col-12 mb-4">
    <%= render partial: "users/attended_events", locals: { events: @past_events } %>
  </div>
  <div class="col-md-6 col-12 mb-4">
    <%= render partial: "users/upcoming_events", locals: { events: @upcoming_events } %>
  </div>
</div>
